.btn {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: aliceblue;
}

.btn-read {
  background-color: rgb(255, 187, 61);
}

.btn-update {
  background-color: rgb(0, 123, 255);
}

.btn-delete {
  background-color: rgb(255, 74, 74);
}

.btn-add {
  background-color: rgb(32, 186, 32);
}

.btn-secondary {
  background-color: rgb(149, 149, 149);
}

