.pagination {
  display: inline-block;
  color: rgb(0, 98, 255);
  border: 2px solid rgb(54, 131, 255);
  border-radius: 5px;
}

.pagination-item {
  display: inline-block;
  text-align: center;
  padding: 4px 7px;
  border: 1px solid rgb(54, 131, 255);
  transition-duration: .3s;
  cursor: pointer;
}

.active-page,
.pagination-item:hover {
  color: white;
  background-color: rgb(54, 131, 255);
}

.previous-page,
.next-page {
  border: none;
  color: orange;
  font-weight: bold;
  font-size: medium;
}

.disable-page {
  background-color: gray !important;
  color: wheat !important;
  cursor: not-allowed;
}
